.calendar {
	width: 100%;
	border-collapse:separate;
	border-spacing: 4px;
	th {
		text-align: center;
		font-weight: 300;
		min-height: 20px;
		padding:10px 0;
		background: @brand-light-blue;
		color: @brand-blue;
		width: 12%;
		span {
			display: block;
		}
		&.nav {
			padding-left: 15px;
			padding-right: 15px;
			width: 2%;
			@media (min-width: @screen-sm-min) {
				width: 8%;
			}
			> a {
				color: @brand-blue;
			}
		}
		h5 {
			font-weight: normal;
			margin-top: 10px;
			color: @brand-blue;
		}
	}
	td {
		text-align: center;
		font-weight: 300;
		min-height: 20px;
		padding:10px 0;
		background: @brand-light-blue url('../images/pattern.png') repeat;
		color: @brand-blue;
		&.selectable {
			background: @brand-blue;
			color: #fff;
			&:hover {
				cursor: pointer;
				background: darken(@brand-blue, 10%);
			}
		}
		&.selected {
			background: @brand-secondary;
			color: #fff;
			&:hover {
				cursor: pointer;
				background: darken(@brand-secondary, 10%);
			}
		}
		&.hour {
			background: #fff;
			color: @gray-dark;
		}
		&.blank {
			background: #fff;
		}
	}
	tfoot {
		td {
			background: #fff;
			text-align: left;
			span {
				width: 20px;
				height: 20px;
				display: inline-block;
				vertical-align: sub;
				margin-right: 10px;
				&.selectable {
					background: @brand-blue;
				}
				&.selected {
					background: @brand-secondary;
				}
			}
		}
	}
}


.secondary-bg {
	background: @brand-secondary;
	color: @brand-primary;
	padding: 2px;
}

.small-calendar {
	.panel-heading {
		border:0;
		.square {
			width: 24px;
			height: 20px;
			background: @brand-primary;
			display: block;
			margin-top: -20px;
		}
		h3 {
			font-weight: bold;
			margin-top: 10px;
			small {
				font-size: 24px;
				color: @brand-primary;
				font-weight: 300;
			}
		}
	}
	.panel-body {
		padding:5px;
		table {
			width:100%;
			thead {
				th {
					text-transform: uppercase;
					color: @brand-blue;
					text-align: center;
				}
			}
			tbody {
				td {
					text-align: center;
					font-weight: 300;
					padding: 10px;
					color: @brand-blue;
					&.today {
						font-weight: bold;
						text-decoration: underline;
					}
					&.disabled {
						color: @gray-light;
					}
					a {
						color: #fff;
						font-weight: bold;
						&:hover {
							text-decoration: none;
						}
					}
					&.first {
						color: #fff;
						font-weight: bold;
						background: @brand-secondary;
						&:hover {
							background: darken(@brand-secondary, 10%);
							cursor: pointer;
						}
					}
					&.second {
						color: #fff;
						font-weight: bold;
						background: @brand-blue;
						&:hover {
							background: darken(@brand-blue, 10%);
							cursor: pointer;
						}
					}
					&.third {
						color: #fff;
						font-weight: bold;
						background: @brand-terciary;
						&:hover {
							background: darken(@brand-terciary, 10%);
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}