// Add styles

.add {
	.cover-image;
	// Default background for index
	background-color: #abc9d5;
	background-position: -70px;
	height:80px;
	margin-bottom: 20px;
	figcaption {
		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
			padding-top: 10px;
		}
		padding-top: 20px;
		h3 {
			font-weight: 300;
			text-transform: uppercase;
			font-size: 20px;
			margin:0;
		}
		em {
			color: @brand-primary;
			font-size: 15px;
		}
	}
	.row-xs-flex {
		// same as add height
		height: 80px;
		h3 {
			margin-top: 0;
		}
	}
	// Overwrite for Hub
	&.secondary {
		background-color: #fcfcfc;
		background-position: center;
	}
}