// Common article styles -------------------------------------------------------------

.articles {
	h1 {
		&.page-title {
			margin-bottom: 0;
		}
	}
	figure {
		position: relative;
		margin-bottom: 50px;
	}
	figcaption {
		position: absolute;
		background: rgb(255,255,255); //Fallback for older browsers
		background: rgba(255,255,255,0.8);
		padding: 10px;
		right: 10px;
		bottom: 10px;
		// Change margins for tablet up
		@media (min-width: @screen-xs-max) {
			right:30px;
			bottom:30px;
		}
	}
	span {
		&.category {
			color: @brand-blue;
			font-size: 18px;
		}
	}
	h1 {
		&.title {
			margin-top: 0;
			font-size: 16px;
			margin-bottom: 5px;
			line-height: 20px;
			// Change font size for tablet up
			@media (min-width: @screen-xs-max) {
				font-size: 25px;
				line-height: 27px;
			}
		}
	}
	h3 {
		font-weight: bold;
		margin-top:0;
	}
	span {
		&.author {
			font-size: 14px;
			font-weight: 300;
			font-style: italic;
			color: @brand-blue;
			display: block;
			margin-bottom: 3px;
		}
	}
	p {
		font-weight: 300; 
		a, a:hover, a:visited {
          color: @brand-terciary;
        }
	}
	.ellipsis {
		.ellipsis-bg(#fff);
	}
	.carousel {
		margin-bottom: 0;
	}
	.space {
		.space-bottom(20px);
	}
	.cover-image {
		@media (min-width: @screen-md-min) {
			min-height: 162px; // Fallback for older browsers
		}	
	}
}

// Small media article list -------------------------------------------------------------

.articles .small-list {
	h4 {
		font-size: 14px;
		margin:0;
	}
	.ellipsis {
		.ellipsis-small;
	}
}

// Comments buttons -------------------------------------------------------------

.comments {
	margin-top: 50px;
	.btn {
		padding:30px;
		width:80%;
		@media (min-width: @screen-md-min) {
			width:90%;
		}
	}
	.btn-select {
		background-color: @brand-light-blue;
		border-color: @brand-light-blue;
		color: @brand-primary;
		font-size: 14px;
		font-weight: normal;
	}
	.actions {
		background: @brand-blue;
		width: 20%;
		@media (min-width: @screen-md-min) {
			height: 80px; // Fallback for older browsers
			width: 10%;
		}
		span {
			display: block;
			color: #fff;
		}
		a.arrow-toggle {
			span {
				padding-top: 20px;
			}
		}
	}
}

// Styles for comments panels -------------------------------------------------------------

.comments-area {
	margin-bottom: 50px;
	.panel  {
		padding: 20px;
		margin-bottom: 50px;
		margin-top: 5px;
		span.title {
			display: block;
			color: @brand-blue;
			font-size: 18px;
			margin-bottom: 20px;
		}
		span.author {
			font-style: normal;
			font-weight: bold;
			display: inline-block;
			color: @brand-primary;
		}
		.form-control {
			border-color: @brand-blue; 
			color: @brand-primary;
		}
		label {
		  font-weight: normal;
		  font-size: 14px;
		  margin-bottom: 10px;
		  margin-top: 5px;
		}
	}
}

// Toggle arrows -------------------------------------------------------------

a.arrow-toggle {
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
	span {
		.glyphicon;
		.glyphicon-arrow-up;
		margin: auto;
	}
	&.collapsed {
		span {
			.glyphicon-arrow-down;
		}
	}
	&.show-comment {
		height:35px;
		.row-xs-flex;
		span {
			align-self: flex-end;
		}
	}
}

// Related articles ellipsis -------------------------------------------------------------

.ellipsis.large {
	.ellipsis-large;
}

// Date styles -------------------------------------------------------------

span.date {
	color: @brand-blue;
	font-size: 14px;
	font-weight: 300;
}

// Article share options -------------------------------------------------------------

.article-share {
	text-align: right;
	.space-bottom(20px);
	> a {
		width:20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		&:hover {
			cursor: pointer;
		}
		&.font-up {
			background: url(../images/artigoAumentarFonte.png) no-repeat;
			&:hover {
				background: url(../images/artigoAumentarFonteHover.png) no-repeat;
			}
		}
		&.font-down {
			background: url(../images/artigoDiminuirFonte.png) no-repeat;
			&:hover {
				background: url(../images/artigoDiminuirFonteHover.png) no-repeat;
			}
		}
		&.print {
			background: url(../images/artigoImprimir.png) no-repeat;
			&:hover {
				background: url(../images/artigoImprimirHover.png) no-repeat;
			}
		}
		&.email {
			background: url(../images/artigoEmail.png) no-repeat;
			&:hover {
				background: url(../images/artigoEmailHover.png) no-repeat;
			}
		}
	}
}


// Social links -------------------------------------------------------------

span.social {
	display: inline-block;;
	margin-left: 20px;
	.twitter-share-button {
		vertical-align: top;
	}
	.IN-widget {
		vertical-align: middle !important;
		line-height: inherit !important;
	}
}




