.accordion, #accordion {
	> .panel {
		> .panel-heading {
			.panel-title {
				color: @gray;
				&.blue {
					 color: @brand-blue;
				}
			}
			span {
				font-size: 14px;
				color: @brand-blue;
				vertical-align: middle;
			}
			&.active {
				background: @brand-blue;
				.transition(@transition);
				a, span {
					color: #fff;
				}
			}
		}
		.panel-body {
			padding: 10px 0;
			background: #fff;
			.side-nav {
				margin-bottom: 0;
				li {
					padding: 0;
				}
			}
		}
	}
	.sub-accordion {
		.panel-heading {
			padding: 0 10px;
			a {
				font-size: 16px;
				font-weight: 300;
			}
		}
		.panel-body {
			padding: 10px;
		}
	}
}

.block-img {
	a {
		color: @brand-blue;
		font-size: 14px;
		margin-top: 10px;
		font-weight: 300;
		display: block;
	}
}
