.media.app {
	margin-bottom: 10px;
	.media-body, a {
		background: @panel-default-bg;
		border-left: 5px solid transparent;
		height: 100px;
		@media (min-width: @screen-md-min) {
			height: 82px;
		}	
	}
	.media-body {
		padding-left: 20px;
		h3 {
			font-size: 20px;
			margin-top: 16px;
			text-transform: capitalize;
			> small {
				font-size: 20px;
				font-weight: 300;
				color: @brand-primary;
			}
		}
		span {
			font-weight: 300;
		}
	}
	a {
		line-height: 100px;
		@media (min-width: @screen-md-min) {
			line-height: 82px;
		}	
		padding: 0 8px;
		&:hover {
			span {
				color: @brand-blue;
			}
		}
	}
	&.first {
		.media-body {
			border-color: @brand-secondary;
		}
	}
	&.second {
		.media-body {
			border-color: @brand-blue;
		}
	}
	&.third {
		.media-body {
			border-color: @brand-terciary;
		}
		margin-bottom: 20px;
	}
}