.contact {
	h1.space-up {
		.space-up(50px);
	}
	.media {
		margin-bottom: 50px;
		.pull-left {
			margin-right: 20px;
		}
		.media-body {
			span.blue {
				font-size: 18px;
				font-weight: 300;
			}
			span.number {
				line-height: 1;
				margin-bottom: 10px;
				font-size: 30px;
			}
			p {
				margin-bottom: 0;
			}
			&.clearfix {
				position: relative;;
			}
			@media (min-width: @screen-sm-min) { 
				> div {
					padding-left: 0;
				}
				.app {
					position: absolute;
					bottom: 0;
					right:0;
				}
			}	
		}
	}
}