// Clickable parent link -------------------------------------------------------------

.dropdown:hover .dropdown-menu {
    display: block;
}

// 20px margin-bottom -------------------------------------------------------------

.space {
  .space-bottom(20px);
}

// 50px margin-bottom -------------------------------------------------------------

.space-50 {
	.space-bottom(20px);
  @media (min-width: @screen-md-min) {
     .space-bottom(50px);
  } 
}

// 30px margin-bottom -------------------------------------------------------------

.space-30 {
  .space-bottom(30px);
}

// 50px margin-top -------------------------------------------------------------

.space-50-up {
  .space-up(50px);
  display: block;
}

// 35px margin-top -------------------------------------------------------------

.space-35-up {
  .space-up(35px);
  display: block;
}

// 20px margin-top -------------------------------------------------------------

.space-20-up {
  .space-up(20px);
}

// Default caption styles -------------------------------------------------------------

.default-caption {
	font-style: italic;
	color: @brand-blue;
	font-weight: 300;
	font-size: 13px;
	margin-top: 10px;
}

// Page header common styles -------------------------------------------------------------

.page-header {
  margin-bottom: 0px;
  // margin: (@line-height-computed * 2) 0 @line-height-computed;
  // border-bottom: 1px solid @page-header-border-color;
  p {
    color: @brand-blue;
  }
  &:last-child {
  	margin-bottom: 20px; 
  }
}

// Responsive video -------------------------------------------------------------

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    margin-bottom: 20px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Loading animation -------------------------------------------------------------

.waiting {
  position: fixed;
  z-index: 1000;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8)
  url('../images/loading.gif')
  50% 50%
  no-repeat;
}

// Recaptcha -------------------------------------------------------------

#recaptcha_image {
  background: #fff;
  padding:10px 0;
  margin-bottom: 20px;
  img {
    .img-responsive;
  }
}

// cookies -------------------------------------------------------------
.cookies {
  background: #fff;
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  a {
    i {
      margin-left: 10px;
    }
  }
  button.close {
    background: @brand-primary;
    color: #fff;
    opacity: 1;
    text-shadow:none;
    line-height: 14px;
    padding: 3px;
  }
}


