footer {
	margin: 20px 0;
	@media (min-width: @screen-sm-min) { 
		margin: 30px 0;
	}
	ul {
		li {
			a:not(.icon), a:not(.icon):hover, a:not(.icon):visited {
				color: @gray-dark;
				font-weight: 300;
				padding-top: 7px;
				padding-bottom: 7px;
			}
			strong {
				> a:not(.icon), a:not(.icon):hover, a:not(.icon):visited {
					color: @brand-primary;
					font-weight: 900;
				}
			}
		}
	}
	strong {
		&.space {
			color: @brand-primary;
			margin-bottom: 30px;
			display: block;
			>a:not(.icon), a:not(.icon):hover, a:not(.icon):visited {
				color: @brand-primary;
				font-weight: bold;
			}
		}
	}
	span.primary {
		.number;
	}
	a.icon { 
		width: 31px;
		height: 36px;
		i {
			font-size: 30px;
		}
	}
	.contacts-xs {
		li {
			margin-bottom: 20px;
		}
	}
}

.last-row {
	background: #fff;
	padding: 15px 0;
	a {
		text-align: center;
	}
}