// Default link forms -------------------------------------------------------------
a.link {
  margin-right: 30px;
  &:hover {
    cursor: pointer;
  }
}

// Default label styles -------------------------------------------------------------

label {
  font-weight: 300;
  font-size: 16px;
  display: block;
}

// Styles for select -------------------------------------------------------------

.btn-select {
  font-size: 16px;
  font-weight: 300;
}

// Sidebar form elements -------------------------------------------------------------


.sidebar{
  input[type="search"] {
  	.placeholder(@brand-primary);
  	font-style: italic;
  	border-right:0;
  	font-size: 13px;
    border-color: @brand-blue;
  }
  .btn-select {
    background-color: @brand-light-blue;
    border-color: @brand-light-blue;
    color: @brand-primary;
    font-size: 14px;
    font-weight: normal;
  }
  .bootstrap-select.btn-group .btn .caret {
    border-top:   6px solid;
    border-right: 5px solid transparent;
    border-left:  5px solid transparent;
    margin-top: -2px;
  }
  .form-control {
    .selectpicker {
      height: 40px;
      &.inner {
        height: auto;
      }
    }
  }
  label {
    font-weight: normal;
    font-size: 14px;
  }
  .input-group {
    margin-bottom: 20px;
    .form-control {
      height: 40px;
    }
    a.input-group-addon {
      border-color: @brand-blue;
      &:hover {
        text-decoration: none;
        color: @brand-blue;
        .transition(@transition);
      }
    }
  }
}


// Default icon in inout group -------------------------------------------------------------


.input-group-btn {
    .btn.glyphicon {
      color: @brand-blue;
      font-size: 24px;
      border:0;
      margin-left: 0;
      &:hover {
        background: #fff;
        color: darken(@brand-blue, 10%);
      }
    }
}

// Form title styles -------------------------------------------------------------


.ms-rtestate-field > h4.form-title, .form-title {
  color: @brand-blue;
  font-weight: 300;
  line-height: 1.1;
}

// Styles for adding file button -------------------------------------------------------------


.add-file {
  label {
    display: block;
  }
  .file-input-wrapper {
    color: @brand-blue;
    span {
      color: @brand-blue;
      padding: 0;
    }
  }
  span.file-input-name {
    font-size: 16px;
    font-weight: 300;
    display: block;
    margin-left: 0;
  }
}

// Styles for conclusion page -------------------------------------------------------------

.conclusion {
  h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  p.lead {
    margin-bottom: 5px;
  }
}

// Styles for search page -------------------------------------------------------------

.search {
  .form-control {
    border-color: #aacce6;
    outline: 1px solid #fff;
  }
  .input-group-addon {
    background: @brand-primary;
    color: #fff;
    border-color: @brand-primary;
    &:hover {
      background: darken(@brand-primary, 10%);
      text-decoration: none;
    }
  }
  .panel {
    padding:10px;
    margin-bottom: 10px;
    &:hover, &.active {
      background: @panel-default-bg;
      cursor: pointer;
    }
  }
  h5, a {
    font-weight: 300;
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
  a {
    text-align: left;
    background: @panel-default-bg;
  }

}


