.glossary.nav-pills {
	> li {
		margin-right: 4px;
		margin-bottom: 4px;
		&.active, &:hover {
			a, &:hover a {
				background: @brand-blue;
				color: #fff;
			}
		}
		&.disabled {
			a {
				background: #fff;
				color: @gray-light;
			}
		}
		a {
			background: @panel-default-bg;
			color: @gray;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			padding: 0;
		}
		+ li {
			margin-left: 0;
		}
	}
}