.highlights {
	> [class*="col-"] {
	    margin-bottom: 20px;
	    @media (min-width: @screen-sm-min) { 
			margin-bottom: 50px;
		}
	}
	.ellipsis {
		.ellipsis-medium;
		.ellipsis-bg(#fff);
	}
	.img-responsive {
		width: 100%;
	}
	h3:not(.panel-title) {
		margin-top: 15px;
	}
	.panel {
		[class*="col-"] {
		    margin-bottom: 0;
		}
	}
	#carousel-news {
		margin-bottom: 0;
		.carousel-indicators {
			top: 60%;
		}
	}
}
