header {
	padding: 15px;
    padding-bottom: 0px;
	.support {
		span {
			display: block;
		}
		.primary, .secondary, em {
			font-size: 14px;
		}
		.btn-secondary {
			text-transform: uppercase;
			.border-top-radius(20px);
			color: #fff;
		}
		.terciary {
			font-size: 22px;
			font-weight: 300;
		}
		strong.terciary {
			font-size: 14px;
			font-weight: bold;
		}
		em {
			font-weight: 300;
			display: block;
		}
	}
	.user-info {
		margin-top: 20px;
		.user {
			border-right: 1px solid @brand-primary;
			padding-right: 10px;
		}
		span{
			font-weight: 300;
			display: block;
			font-size: 18px;
			&.terciary{
				font-size: 14px;
			}
		}
		a {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 300;
			&:hover {
				.fa {
					color: @brand-blue;
				}
			}
			.fa {
				font-size: 30px;
				display: inline-block;
				vertical-align: sub;
				margin-right: 10px;
			}
		}
	}
}

@media (min-width: @screen-sm-min) { 
	header {
		.support {
			.terciary {
				font-size: 40px;
			}
			.primary, .secondary, em {
				font-size: 16px;
			}
			em {
				display: inline;
			}
		}
	}	
}