.login {
	.page-title {
		margin-top: 50px;
	}
	.panel {
		.panel-heading {
			padding: 20px 20px 0 20px;
			border:0;
		}
		.panel-body {
			padding:20px;
		}
		h4 {
			margin-top: 10px;
			font-size: 20px;
		}
		.panel-title {
			margin-top: 0;
			color: @brand-primary;
			font-weight: bold;
			margin-bottom: 0;
			display: inline-block;
		}
		strong {
			color: @brand-blue;
		}
	}
	
}