#s4-bodyContainer {
	overflow: scroll;
	padding-bottom: 0;
	background: 
		url(../images/background_top.png) no-repeat top center,
		url(../images/background_bottom.png) no-repeat bottom,
		@background-first; /* Old browsers */
	background: 
		url(../images/background_top.png) no-repeat top center,
		url(../images/background_bottom.png) no-repeat bottom,
		-moz-linear-gradient(top,  @background-first 0%, @background-second 100%); /* FF3.6+ */
	background: 
		url(../images/background_top.png) no-repeat top center,
		url(../images/background_bottom.png) no-repeat bottom,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,@background-first), color-stop(100%,@background-second)); /* Chrome,Safari4+ */
	background: 
		url(../images/background_top.png) no-repeat top center,
		url(../images/background_bottom.png) no-repeat bottom,
		-webkit-linear-gradient(top,  @background-first 0%,@background-second 100%); /* Chrome10+,Safari5.1+ */
	background:
		url(../images/background_top.png) no-repeat top center,
		url(../images/background_bottom.png) no-repeat bottom,
		 -o-linear-gradient(top,  @background-first 0%,@background-second 100%); /* Opera 11.10+ */
	background: 
		url(../images/background_top.png) no-repeat top center,
		url(../images/background_bottom.png) no-repeat bottom,
	-ms-linear-gradient(top,  @background-first 0%,@background-second 100%); /* IE10+ */
	background: 
		url(../images/background_top.png) no-repeat top center 100%,
		url(../images/background_bottom.png) no-repeat bottom,
		linear-gradient(to bottom,  @background-first 0%,@background-second 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c6de', endColorstr='#e0ecde',GradientType=0); /* IE6-9 */
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
	//Styles for Retina 
}

#s4-bodyContainer.clients {
	background: 
		url(../images/background_top.png) no-repeat top center,
		@background-first; /* Old browsers */
	background: 
		url(../images/background_top.png) no-repeat top center,
		-moz-linear-gradient(top,  @background-first 0%, @background-second 100%); /* FF3.6+ */
	background: 
		url(../images/background_top.png) no-repeat top center,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,@background-first), color-stop(100%,@background-second)); /* Chrome,Safari4+ */
	background: 
		url(../images/background_top.png) no-repeat top center,
		-webkit-linear-gradient(top,  @background-first 0%,@background-second 100%); /* Chrome10+,Safari5.1+ */
	background:
		url(../images/background_top.png) no-repeat top center,
		 -o-linear-gradient(top,  @background-first 0%,@background-second 100%); /* Opera 11.10+ */
	background: 
		url(../images/background_top.png) no-repeat top center,
	-ms-linear-gradient(top,  @background-first 0%,@background-second 100%); /* IE10+ */
	background: 
		url(../images/background_top.png) no-repeat top center,
		linear-gradient(to bottom,  @background-first 0%,@background-second 100%);
}

#s4-bodyContainer.loading .waiting {
	display: block;
}

.logo {
	display: inline-block;
}

.container {
	padding:0 20px;
	&.main {
		background: #fff;
	}
}

.main-content, .sidebar {
	padding-bottom: 20px;
	@media (min-width: @screen-md-min) {
		padding-bottom: 40px;
	}
}

@media (min-width: @screen-md-min) { 
	.container {
		padding:0 @grid-gutter-width;
	}
}