// Display flex, use to vertically center and stretch content -------------------------------------------------------------

.row-xs-flex {
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;   
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
}

// Use as a mixin to give a margin bottom -------------------------------------------------------------

.space-bottom(@value) {
	margin-bottom: @value;
}

.space-up(@value) {
	margin-top: @value;
}


// Button styles for button element -------------------------------------------------------------

button {
	.btn;
	min-width:inherit;
}

// Icon styles mixin -------------------------------------------------------------

.icon {
	display: inline-block;
	text-align: center;
	background: @brand-primary;
	border:0;
	padding:0;
	i {
		color: #fff;
		vertical-align: top;
		padding-top:3px;
		font-size: 20px;
	}
	&:hover {
		background: @icon-hover;
		.transition(@transition);
	}
}

// Remove vertical-align by default from sharepoint styles -------------------------------------------------------------

input {
	vertical-align: inherit;
}

// Reset sharepoint link style -------------------------------------------------------------

a, a:hover, a:visited {
	color: @brand-primary;
}

// Area title mixin -------------------------------------------------------------

.area-title {
	margin: 0;
	padding: 15px 0;
	font-weight: 300;
	vertical-align: bottom;
	img {
		vertical-align: top;
		margin-top: -15px;
		margin-right: 10px;
	}
}

// Use to make background image occupy 100% of parent -------------------------------------------------------------

.cover-image {
	background-size: cover;
	background-position: -10px center;
	background-repeat: no-repeat;
	background-clip: content-box;
}

img.cover-image {
	width: 100%;
}

// Number mixin for footer and sidebar -------------------------------------------------------------

.number {
	font-size: 18px;
	font-weight: 300;
	display: block;
	@media (min-width: @screen-sm-min) { 
		font-size: 40px;
	}
}

// Mixin for learn more button on top of the add, use class to change background color

.more {
	a {
		.uppercase;
		color: #fff;
	}
	&:after {
		font-family: 'Glyphicons Halflings';
		content: "\e092";
		color: #fff;
		padding: 6px;
		.btn;
	}
	&.info {
		&:after {
			background: @brand-terciary;
		}
	}
	&.primary {
		&:after {
			background: @brand-primary;
		}
	}
	&.secondary {
		&:after {
			background: @brand-secondary;
		}
	}
	&.orange {
		&:after {
			background: @brand-orange;
		}
	}
	&.blue {
		&:after {
			background: @brand-blue;
		}
	}
	&:hover {
		cursor: pointer;
		>.btn-primary, &.primary:after {
			background-color: darken(@brand-primary, 8%);
			.transition(@transition);
		}
		>.btn-info, &.info:after {
			background-color: darken(@brand-info, 8%);
			.transition(@transition);
		}
		>.btn-secondary, &.secondary:after {
			background-color: darken(@brand-secondary, 8%);
			.transition(@transition);
		}
		>.btn-orange, &.orange:after {
			background-color: darken(@brand-orange, 8%);
			.transition(@transition);
		}
		>.btn-blue, &.blue:after {
			background-color: darken(@brand-blue, 8%);
			.transition(@transition);
		}
	}
}




