// Default styles -------------------------------------------------------------

.navbar-nav {
	background: @brand-light-blue;
	.lsd-column {
		-webkit-column-count:2; /* Chrome, Safari, Opera */
		-moz-column-count:2; /* Firefox */
		column-count:2;
	}
	// Overwrite Yamm mega menu styles -------------------------------------------------------------
	ul.dropdown-menu {
		> li {
			.yamm-content {
				.item-group {
					li, .row {
						padding-top: 5px;
						padding-bottom: 5px;
					}
					li.disabled {
						a {
							color: @gray-light;
							&:hover {
								cursor: not-allowed;
								text-decoration: none;
							}
						}
					}
					li.secondary {
						padding: 5px 20px;
						&:first-child {
							padding-top: 0;
						}
						a {
							color: @gray;
							font-size: 14px;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

.is-login {
	background: darken(@brand-secondary, 10%);
	display: block;
	text-align: center;
	font-weight: 600;
	.uppercase;
	color: #004587;
	font-size: 11px;
}

// Overwrite default bg -------------------------------------------------------------

.public .navbar-nav {
	background: #fff;
}

// Paddings for mobile -------------------------------------------------------------

.public .navbar-header {
	> div:first-child {
		padding-right: 2px;
	}
	> div:last-child {
		padding-left: 2px;
	}
}

// Styles for tablet and up -------------------------------------------------------------

@media (min-width: @screen-sm-min) { 
	.public .navbar-nav {
	    display:table;
	    width:100%;
	    margin: 0;
	    > li {
		    display:table-cell;
		    text-align:center;
		    float: none;
		    vertical-align: bottom;
		}
		ul.dropdown-menu {
			left: 16px;
			right: 16px;
			> li {
				text-align: left;
				.yamm-content {
					.item-group {
						> li, .row {
							padding: 10px 20px;
						}
						li.secondary {
							padding: 5px 20px;
						}
					}
					p {
						a {
							color: @brand-terciary;
						}
					}
				}
			}
		}
	}
}


