// Shows on sm up -------------------------------------------------------------

.newsTabs {
    min-height: 100%;
    overflow: hidden;
    padding-left: (@grid-gutter-width / 2);
    // Remove carousel inner width
    .carousel-inner {
        padding-left: 0;
        padding-right: 0;
    }

    margin-bottom: 40px;

    figcaption {
        display: table;
        margin-top: 4px;
        background: @brand-secondary;
        padding: 10px;
        height: 90px;
        width: 100%;

        h3 {
            margin-top: 0;
            display: table-cell;
            vertical-align: middle;
        }

        .ellipsis {
            .ellipsis-small;
            .ellipsis-bg(@brand-secondary);

            &:after {
                color: @brand-primary;
            }
        }
    }

    .nav-pills {

        li {
            border-right: 8px solid @brand-secondary;
            margin-left: 2px;

            .ellipsis {
                .ellipsis-small;
                .ellipsis-bg(#fff);

                &:after {
                    color: @brand-primary;
                }
            }

            &.active, &.active:hover {
                .ellipsis {
                    .ellipsis-bg(@brand-secondary);
                }
            }

            &:hover {
                .ellipsis {
                    .ellipsis-bg(@gray-lighter);
                }
            }

            a {
                height: 100%;

                span.categoria {
                    font-size: 13px;
                }

                h4 {
                    margin-top: 0;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .newsTabs {
        .nav-pills {
            li {
                height: 81px;

                .ellipsis {
                    .ellipsis-tiny;
                }
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    .newsTabs {
        .img-responsive {
            width: 100%;
            max-width: none;
        }

        .nav-pills {
            li {
                height: 101px;
            }
        }
    }
}

@media (min-width: @screen-lg-min) {
    .newsTabs {
        .nav-pills {
            li {
                height: 106px;
            }
        }

        figcaption {
            position: relative;
            bottom: 70px;
        }

        .tab-content {
            margin-bottom: -70px;
        }
    }
}

// Shows on xs
#carousel-top {
    h3 {
        font-size: 18px;
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }
}
