// Homepage latest news -------------------------------------------------------------

.latest-news {
	@media (min-width: @screen-sm-min) { 
		margin-bottom: 50px;
	}
	p {
		margin-bottom: 0;
	}
	a {
		color: @brand-terciary;
	}
	h4 {
		a {
			color: @brand-primary;
		}
	}
	.ellipsis {
		.ellipsis-medium;
		.ellipsis-bg(#d2e0de);
	}
}

// News list -------------------------------------------------------------

// All news link -------------------------------------------------------------
.archive {
	span {
		margin-left: 10px;
	}
}