.panel {
  .panel-heading {
    .panel-title {
      color: @brand-blue;
      margin: 0;
    }
  }
  .panel-body {
    &.white {
      background: #fff;
    }
    .title {
      color: @brand-blue;
      font-weight: 400;
    }
    ul {
      li {
        padding: 5px 0;
      }
    }
  }

  //Fixed height panel 
  &.fixed {
    padding-right: 20px;
    ul {
      li {
        margin-bottom: 10px;
        height: 40px;
        a {
          text-align: left;
          font-size: 18px;
          color: @gray;
          font-weight: 300;
          padding-left: 10px;
        }
        &.active {
          a {
            background: @brand-blue;
            color: #fff;
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }

  // Top posts panel

  &.top-posts {
    .panel-heading {
      padding-top: 0;
      .panel-title {
        color: @brand-primary;
        font-weight: 300;
      }
    }
    .panel-body {
      .media {
        margin-bottom: 20px;
        a, a:hover, a:visited {
          color: @brand-terciary;
        }
        p {
          font-weight: 300;
        }
        .ellipsis {
          .ellipsis-medium;
          .ellipsis-bg(@panel-default-bg);
        }
      }
    }
  }
}

.slimScrollBar {
  border-radius:0 !important;
  opacity: 1 !important;
}

.list-medico {
  .panel {
    background: #fff;
    .panel-heading {
      margin-bottom: 20px;
      a.print {
         background: url('../images/print-big.jpg') no-repeat;
         width: 30px;
         height: 30px;
         display: inline-block;
        &:hover {
          background: url('../images/print-big-hover.jpg') no-repeat;
        }
      }
    }
    .panel-body {
      padding: 0;
      @media (min-width: @screen-sm-min) { 
        padding: 0 15px;
      }
    }
    h3 {
      margin-top: 0;
      font-weight: 300;
      &.panel-title {
        small {
          font-weight: 300;
          color: @brand-blue;
        }
      }
    }
    .ellipsis {
      .ellipsis-bg(#fff);
    }
    a {
      span.gray {
        color: @gray-dark;
      }
    }
    hr {
      border-color: #aacce6;
    }
    &.detail {
      h4 {
        font-weight: 300;
        color: @gray-dark;
      }
      margin-bottom:0;
      .accordion {
        margin-bottom: 0;
        .panel-heading {
          margin-bottom: 0;
        }
      }
    }
    .media {
        padding: 10px;
        &:hover {
          cursor: pointer;
          background: @panel-default-bg;
          .ellipsis {
            .ellipsis-bg(@panel-default-bg);
          }
        }
      }
  }
}





