// Side Navigation -------------------------------------------------------------

.side-nav {
  margin-bottom: 20px;
  @media (min-width: @screen-md-min) {
    margin-bottom: 80px;
  }
  &.nav-pills {
    > li {
      border-right:8px solid lighten(@brand-blue, 50%);
      outline: 4px solid #fff;
      a {
        padding: 6px 10px 10px;
      }
      // Active state
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: #fff;
          background-color: @brand-blue;
        }
      }
      &.load-more {
        border:0;
        a {
          font-weight: normal;
          display: inline-block;
          &:hover { 
            color: @brand-blue;
            background: transparent;
          }
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// Sidebar buttons -------------------------------------------------------------

a[class*="btn-fade-"]  {
  text-align: left;
  padding:20px 15px;
}



.sidebar {
  // Sidebar contact -------------------------------------------------------------
  .contact-group {
    h1 {
      margin-bottom: 10px;
    }
    em, span, a {
      display: block;
      font-weight: 300;
    }
    em {
      color: @gray-light;
      font-size: 18px;
    }
    span, a {
      font-size: 30px;
      line-height: 1;
    }
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
  // When you have an accordion inside the sidebar -------------------------------------------------------------
  .accordion {
    .panel-heading {
      a {
        color: @gray-dark;
        font-weight: 300;
      }
    }
  }
  .steps {
    margin-bottom: 20px;
  }
  .title {
    color: @brand-blue;
    font-weight: 400;
    margin-bottom:0;
  }
  // Hour table inside sidebar -------------------------------------------------------------
  .hours {
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 10px;
      tr {

        td {
          color: @gray-dark;
          font-weight: 300;
          padding: 10px;
        }
        td.day {
          text-transform: uppercase;
          color: @brand-blue;
          background: @panel-default-bg;
          font-weight: 300;
          text-align: center;
        }
         td.today {
          text-transform: uppercase;
          color: #fff;
          font-weight: 300;
          text-align: center;
          background: @brand-blue;
        }
      }
    }
  }
  // Fixed panel inside sidebar to have scroll -------------------------------------------------------------
  .panel.fixed {

    // When you have an accordion inside the fixed panel -------------------------------------------------------------
    .accordion {
      &.panel-group {
        margin-bottom: 0;
      }
      .panel {
        margin-top: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        .panel-body {
          padding-bottom:0;
        }
      }
      .panel-heading {
        height: 40px;
         a {
          font-size: 18px;
          line-height: 1;
        }
      }

      ul {
        li {
          border:0;
          outline: 0;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            background: @panel-default-bg;
            font-size: 16px;
            padding:10px 10px 10px 20px;
          }
          &.active {
            a {
              background: #4291c6;
            }
          }
        }
      }
    }
  }
}