@step-color: @brand-blue;

.steps {
	margin-left: 0;
	margin-bottom: 30px;
	li {
		color: lighten(@step-color, 20%);
		border-bottom: 4px solid lighten(@step-color, 50%);
		font-size: 14px;
		font-weight: 300;
		padding-bottom: 7px;
		margin-right: 2px;
		&.active {
			color: @step-color;
			border-bottom: 4px solid @step-color;
		}
		&.full-width {
			width: 100%;
		}
		@media (max-width: @screen-xs-max) {
			display: block;
			margin-bottom: 5px;
		}
		@media (min-width: @screen-sm-min) {
			padding-right:80px;
			margin-right: 4px;
			font-size: 16px;
		}
	}
	&.nav-tabs {
		li {
			padding: 0;
			margin-right: 20px;
			@media (max-width: @screen-xs-max) {
				display: block;
				margin-bottom: 5px;
				float: none;
			}
			a {
				border: 0;
				font-size: 16px;
				color: @brand-blue;
			}
			&.active {
				a {
					font-weight: 400;
				}
			}
		}
	}
}


		