h1 {
	&.page-title {
		margin-top: 0;
		font-size: 25px;
		margin-bottom: 25px;
	}
}

h5 {
  font-weight: 900;
}

p {
  font-weight: 300;
}

big {
  font-weight: 300;
  font-size: 20px;
}

.primary {
  color: @brand-primary;
}

.secondary {
  color: @brand-secondary;
}

.terciary {
  color: @brand-terciary;
}

.blue {
  color: @brand-blue;
}

.uppercase {
  text-transform: uppercase;
}

.thin {
  font-weight: 300;
}

a.blue, a.blue:hover, a.blue:visited {
  color: @brand-blue;
}

.oneline {
  height: 25px;
  overflow: hidden;
}

