.top-links {
	font-size: 13px;
	height: 35px;
	line-height: 35px;
	a.idioma {
		color: @gray;
		&.active, &:hover {
			color: @brand-primary;
		}
	}
	.top-nav {
		padding-left: 0;
		a {
			padding:0 10px;
			display: inline-block;
			line-height: inherit;
			color: @brand-primary;
			&.dropdown:hover {
				background: @brand-blue;
				color: #fff;
				text-decoration: none;
				.transition(@transition);
			}
			&.icon { 
				width: 22px;
				height: 25px;
				padding: 0;
				i {
					font-size: 20px;
				}
			}
		}
		.dropdown-menu > li > a {
			display: block;
		}
		span.glyphicon {
			margin-right: 5px;
		}
	}
	.icon.search {
		.icon;
		height: 34px;
		width: 32px;
		vertical-align: top;
		i {
			padding-top: 0;
			vertical-align: baseline;
		}
	}
	input {
		height:34px;
		border:0;
		&[type='search'] {
			padding-left: 10px;
			.placeholder;
			font-style: italic;
			font-weight: bold;
			margin-right: 0;
		}
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
	.top-links {
		.top-nav {
			padding-left: 0;
			padding-right: 0;
			a {
				margin-right: 0;
				padding: 0 5px;
			}
		}
		a.icon {
			margin-right: 0;
		}
		.search-area {
			padding-right:0;
		}
	}
}

@media (min-width: @screen-md-min) { 
	.top-links {
		.search-area {
			text-align: left;
		}
	}
}

