@bg: #fff;
@height: 35px;

.ellipsis(@height) {
	overflow: hidden;
	position: relative;
	height: @height;
	line-height: 18px;
	&:before {
		content:"";
		float: left;
		width: 5px; 
		height: @height;
	}
}

.ellipsis {
	.ellipsis-medium;
}

.ellipsis > *:first-child {
	float: right;
	width: 100%;
	margin-left: -5px; 
}		

.ellipsis:after {
	content: "\02026 Ler mais"; 

	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;

	float: right; 
	position: relative;
	top: -18px; 
	left: 100%; 
	width: 6em; 
	margin-left: -6em;
	padding-right: 5px;
	text-align: right;

	font-style: normal; 
	color: @brand-terciary;
	font-weight: 300;
}

.ellipsis.real:after {
	content: "\02026"; 

	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;

	float: right; 
	position: relative;
	top: -18px; 
	left: 100%; 
	width: 2em; 
	margin-left: -2em;
	padding-right: 5px;
	text-align: left;

	font-style: normal; 
	color: @gray-dark;
	font-weight: 300;
}


.ellipsis a { 
	position: absolute;
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: hidden; 
	text-indent: -9999px; 
	font-weight: 300; 
	z-index: 9999;
}

.ellipsis i {
	font-style: normal; 
	color: @brand-terciary;
	font-weight: 300;
}

.ellipsis i:before { content: "...Ler mais";}


// Ellipsis mixins -------------------------------------------------------------

.ellipsis-bg(@bg) {
	&:after {
		/* 1706x1 image, gradient for IE9. Transparent at 0% -> white at 15% -> white at 100%.*/  
		background-color: @bg;
		background: -webkit-gradient(linear, left top, right top,
			from(rgba(255, 255, 255, 0)), to( @bg), color-stop(15%,  @bg));
		background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0),  @bg 15%,  @bg);			
		background: -o-linear-gradient(to right, rgba(255, 255, 255, 0),  @bg 15%,  @bg);
		background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0),  @bg 15%,  @bg);
		background: linear-gradient(to right, rgba(255, 255, 255, 0), @bg 15%, @bg); 
		background-size: 100% 100%;
	}
}

.ellipsis-tiny {
	.ellipsis(20px);
}

.ellipsis-small {
	.ellipsis(35px);
}

.ellipsis-medium {
	.ellipsis(55px);
}

.ellipsis-large {
	.ellipsis(75px);
}

.ellipsis-xlarge {
	.ellipsis(90px);
}



